{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/forgot" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="targetuser" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpass" placeholder="Change password to" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Make request</button>
    </form>
{% endblock %}
